$primary-button: #ffba72;
$primary-buttonHover: #ffd09c;
$secondary: #0b141b;

$navBar-transparent: #0b141bb3;
$navBar-gradient: #00000000;
$background-overlay: #000000bf;
$white: #fff;
$white-hover: #e5e5e5;
$black: #000;
$card-color: #1c2a33;
$buttonRound-color: #2a2a2a99;
$button-border: #ffffff80;
$greenText: #ffba72;
